.catalog {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 5rem;
  padding-top: 3.75rem;

  &__product {
    width: calc(100% / 3 - 5rem);
    margin: 2.5rem;
  }

  &--loading {
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  &__loading {
    display: flex;
    height: 100%;
    min-height: 100%;
    align-items: center;
    justify-items: center;
  }
}
