.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 5rem;
  background-color: cc(bg, alt);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -25%;
    width: 150%;
    height: 500%;
    background-color: cc(bg, alt);
    box-shadow: 0 0.1rem 0.75rem cc(shadow, 0.33);
    z-index: -1;
  }

  &__logo {
    display: block;
    width: 190px;
    height: auto;
  }
}
