.product {
  text-align: center;

  &__name {
    @extend %txt--product;
    margin: 1.25rem 0;
    text-transform: capitalize;
  }

  &__details {
    display: flex;
  }

  &__info {
    width: 50%;
    text-align: center;
    padding: 0.625rem 1.25rem;;
  }

  &__price {
    @extend %txt--price;
    display: inline-block;
    margin-left: 0.625rem;
  }
}
