<div>
  <nav class="nav">
    <a href="/"><img class="nav__logo" src="assets/png/logo.png" alt="Keyway" width="190px"/></a>
    <button class="snipcart-checkout">
      View cart
    </button>
  </nav>

  <router-outlet></router-outlet>


  <footer class="footer">
    <p>Made with ❤ by Snipcart with Angular, Sanity and Netlify. See the <a class="link--external" href="https://github.com/snipcart/snipcart-keyway">Github repo</a> and <a class="link--external" href="https://snipcart.com/blog/headless-angular-ecommerce-app">tutorial</a>.</p>
  </footer>
</div>
